<template>
  <div id="app">
    <SideBar isActive="patron" />
    <!-- <NavBar /> -->
    <div>
         <div class="modal_add_book">
            <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModallabel" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header modal_head" style="   background-color: red;">
                                <h6 class="modal-title" id="addModallabel">ADD BOOKS</h6>
                                <button type="" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="POST">
                                <div class="modal-body">           
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <input id="title" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="author">Author</label>
                                        <input id="author" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="copies">Copies</label>
                                        <input id="copies" type="number" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="category">Category</label>
                                        <input id="category" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-outline-success">Add</button>
                                </div>
                            </form>  
                        </div>
                    </div>
            </div>     
                    </div>
        <div class="modal_delete_book">
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModallabel" aria-hidden="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal_head" style="background-color: red;">
                            <h6 class="modal-title" id="deleteModallabel">CONFIRMATION</h6>
                            <button type="" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to continue?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-outline-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
        
        <div class="dashboard_container">
            <h3>BOOK MANAGEMENT</h3>
            <hr>
            <button class="btn btn-danger" data-toggle="modal" data-target="#addModal">Add Book</button>
                    <input class="form-control" type="text" placeholder="Search">
            <div class="table_container_for_dashboard">
                 <table class="table-hover">
                                <thead>
                                    <tr style=" background-color:darkblue;" >
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Copies</th>
                                        <th>Category</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tr>
                                    <td>Complete Code</td>
                                    <td>Robert Martin</td>
                                    <td>18</td>
                                    <td>Computer Science</td>
                                    <td>
                                        <div class="table_btn">
                                          <button class="btn">Edit</button>
                                    <button class="btn"  data-toggle="modal" data-target="#deleteModal">Delete</button>
                                        </div>
                                    </td>
                                </tr> 

                            </table>
            </div>
        </div>
     </div>   
  </div>
  
</template>

<script>
import SideBar from "../../navigation/SideBar";


export default {
      el: '#hello',
      data(){
         return{
           toogle:false
         }
         },






  mounted(){
    document.title = "Book Management"
  },
  components: { 
    SideBar
    },
};
</script>

<style>

</style>