<template>
    <chartjs-bar v-bind:labels="labels" v-bind:datasets="datasets" v-bind:option="option"></chartjs-bar>
</template>

<script>
export default {
    name: 'Bar',    
    data() {
        return {
            labels: ["January","February","March","April"],
            datasets: [
                {
                    label: ["Borrowed Book"],
                    data: [101,167,300,250],
                    backgroundColor: "#0356fc"
                },
                {
                    label: ["Returned Book"],
                    data: [200,89,200,230],
                    backgroundColor: "purple"
                },
            ],
            option: {
                title: {
                    display: true,
                    position: "top",
                    text: "Borrowed and Returned Books"                
                },
                legend: {
                    display: true,
                }
            }
        };
    }
}
</script>
