<template>
    <chartjs-doughnut v-bind:labels="labels" v-bind:datasets="datasets" v-bind:option="option"></chartjs-doughnut>
</template>

<script>
export default {
    name: 'Doughnut',
    data() {
        return {
            labels: ["Romance","Thriller","Drama","Action","Fantasy"],
            datasets: [
                {
                    data: [20,30,45,53,24],
                    backgroundColor: [
                        'yellow', 'purple', 'brown','green', '#10c242'
                    ]
                }
            ],
            option: {
                title: {
                    display: true,
                    position: "top",
                    text: "Most Popular Genre"                
                }
            }
        };
    }
}
</script>
