<template>

  <div  id="app">
        
  <div>
                    <div class="header">
                <h5>Library Management System</h5>
            </div>
        <div class="sidebar">
           <router-link to="/Dashboard">
            <a><span><font-awesome-icon icon="chart-bar" style="color: black; font-size: 20px; margin-right:5px; "/>Dashboard</span> </a>
             </router-link>
                <router-link to="/Patron">
             <a href="PatronManagement.html"><span><font-awesome-icon icon="user" style="color: black; font-size: 20px; margin-right:5px; "/>Patron Management</span> </a>
            </router-link>
                <router-link to="/Book">
            <a href="BookManagement.html"> <span><font-awesome-icon icon="layer-group" style="color: black; font-size: 20px; margin-right:5px; "/>Book Management</span></a>
             </router-link>
                  <router-link to="/Settings">
            <a href="Settings.html"> <span><font-awesome-icon icon="cog" style="color: black; font-size: 20px; margin-right:5px; "/>Setting</span></a>
             </router-link>
        </div>
    </div>

      </div>
  
</template>
<script>
export default {
  props: {
    isActive: String,
  },
  data() {
    return {
      data: ''
    }
  },
  mounted() {
    
  }
}
</script>
<style scoped>
.header a{
    color: red;
    font-size: 28px;
    text-shadow: yellow;
}

.sidebar h2{
    color:black;
    font-size: 16px;
    margin:20px;
   
}

</style>