<template>
  <div id="app">
    <SideBar isActive="settings"/>
    <NavBar />
   <div class="dashboard_container" >
            <h3>SETTING</h3>
            <hr>
        </div>
  </div>
</template>
<script>
import SideBar from "../../navigation/SideBar";


export default {
  mounted(){
    document.title = "Settings"
  },
  components: { SideBar },
  methods: {},
};
</script>
<style scoped>
.dashboard_container h3{
    color:black;
    margin-top:20px;
}

</style>
