.header{
    background-color: rgb(7, 0, 104);
    width: 100%;
    height: 100px;
    padding: 2%;
}

.header h1{
    font-size: 26px;
}

.sidebar{
    width: 250px;
    height: 100%;
    background-color: rgb(7, 0, 104);
    position: fixed;
}

.sidebar a{
    padding: 5%;
    text-decoration: none;
    color: white;
    display: block;
    height: 50px;
    transition: 0.5s;
}

.sidebar a:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(15, 0, 218);
}

.dashboard_container input{
    margin-left: 55%;
    margin-right: 1%;
    margin-top: 35px;
    margin-bottom: 20px;

    width: 30%;
}
.table_container_for_dashboard{
    width: 85%;
    margin-top: 5%;
}


table
{
    margin-top: 10px;
	width: 100%;
	border-collapse: collapse;
    text-align: left;
    box-shadow: 0 0 10px rgba(99, 95, 95, 0.6);
    -webkit-box-shadow: 0 0 20px rgba(99, 95, 95, 0.6);
}

thead{
    background-color:rgb(14, 87, 30);
}

th
{
    text-align: center;
	font-size: 15px;
	height: 32px;
    color: #fff;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

td{
	height: 30px;
    font-size: 15px;
    background-color: rgb(250, 250, 255);
    text-align: center;
}
.chart_container{
    width: 500px;
}

.dashboard_container{
    margin-top: 1%;
    margin-left: 19.5%;
    width: 93%;
    height: 700px;
    position: fixed;
}

.btn:hover {
    background-color: yellow;
  }