

.topnav
{
	height: 10%;
}

.img-navbar
{
	margin-top: 10px;
	height: 80px;
	width: 56%;
	border-radius: 100px;
}
.icon-user
{
	height: 50px;
	width: 50px;
	align-content: center;
	border-right: 30px;
}

.forms
{
	position: absolute;
	border: solid grey 0px;
	margin-left: 181px;
	margin-top: 71px;

	width: 86%;
	height: 100%;
}

.forms-head
{
	position: fixed;
	margin-top: 2px;
	border: solid grey 1px;
	background-color: rgb(44, 44, 46);
	width: 86.1%;
	color: azure;
}

.frame
{
	border: solid grey 1px;
	border-radius: 5px;
	width: 30%;
	height: 58%;
	margin: 50px auto;
	padding: 20px;
	background: white;
}

.frame1
{
	border: solid grey 1px;
	border-radius: 5px;
	width: 30%;
	height: 50%;
	margin: 50px auto;
	padding: 20px;
	background: white;
}

.user-control
{
	font-size: 25px;
	color: grey;
}

.user-control1
{
	font-size: 20px;
	color: grey;
}

.head-control
{
	color: grey;
	align-items: center;
}

.head-control1
{
	color: grey;
	align-items: center;
}

.inp-control
{
	font-size: 20px;
	border-radius: 6px;
	width: 100%;
	height: 50px;
}

.inp-control1
{
	font-size: 20px;
	border-radius: 6px;
	width: 100%;
	height: 40px;
}

.btn-login-control
{
	border-radius: 10px;
	margin-top: 20px;
	width: 30%;
	height: 10%;
	padding: 10px;
	background: white;
	background-color: green;
	color: white;
}

.radio_label
{
	font-size: 20px;
}





















.btn-ed
{
	height: 35px;
	width: 80px;
	margin: 5px;
	border: brown 1px;
	border-radius: 5px;
	background-color: orange;
	text-align: center;
}


table
{
	margin-top: 45px;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

tr
{
	border-bottom: solid grey 1px;
	border-left: solid grey 1px;
	border-right: solid grey 1px;
}

th, td
{	

	border-right: solid grey 1px;
	border-top: solid grey 1px;
	padding: 2px;
}

th
{
	
	font-family: san-serif;
	font-size: 25px;
	height: 32px;
	font-weight: bolder;
	color: black;
}

td
{
	font-family: san-serif;
	height: 30px;
	font-size: 15px;
}